-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: 153.92.15.60    Database: u645536029_ict_amsos_db
-- ------------------------------------------------------
-- Server version	11.8.8-MariaDB-log

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `inventory_people`
--

DROP TABLE IF EXISTS `inventory_people`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `inventory_people` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `full_name` varchar(255) NOT NULL,
  `normalized_name` varchar(255) NOT NULL,
  `office_id` int(11) DEFAULT NULL,
  `office` varchar(255) NOT NULL DEFAULT '',
  `officeDivision` varchar(255) NOT NULL DEFAULT '',
  `employment_status` varchar(255) NOT NULL DEFAULT '',
  `source` varchar(50) NOT NULL DEFAULT 'inventory',
  `created_at` timestamp NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_inventory_person_name` (`normalized_name`),
  KEY `idx_inventory_people_office_id` (`office_id`),
  KEY `idx_inventory_people_office_division` (`office`,`officeDivision`)
) ENGINE=InnoDB AUTO_INCREMENT=512 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `inventory_people`
--

LOCK TABLES `inventory_people` WRITE;
/*!40000 ALTER TABLE `inventory_people` DISABLE KEYS */;
/*!40000 ALTER TABLE `inventory_people` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `inv_inventory`
--

DROP TABLE IF EXISTS `inv_inventory`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `inv_inventory` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `employeeName` text NOT NULL,
  `employee_person_id` int(11) DEFAULT NULL,
  `equipmentType` text NOT NULL,
  `computer_specs` text DEFAULT NULL,
  `yearAcquired` text NOT NULL,
  `shelfLife` text NOT NULL,
  `brand` text NOT NULL,
  `specifications` longtext NOT NULL,
  `rangeCategory` text NOT NULL,
  `softwareInstalled` text NOT NULL,
  `licensingModel` text NOT NULL,
  `softwareInstalled_2` text NOT NULL,
  `licensingModel_2` text NOT NULL,
  `serialNumber` longtext NOT NULL,
  `propertyNumber` text NOT NULL,
  `accountablePerson` text NOT NULL,
  `accountable_person_id` int(11) DEFAULT NULL,
  `sex` text NOT NULL,
  `officeDivision` text NOT NULL,
  `statusOfEmployment` text NOT NULL,
  `actualUser` text NOT NULL,
  `actual_user_id` int(11) DEFAULT NULL,
  `actualUserSex` text NOT NULL,
  `actualUserStatusOfEmployment` text NOT NULL,
  `natureOfWork` text NOT NULL,
  `remarks` longtext NOT NULL,
  `office` text NOT NULL,
  `office_id` int(11) DEFAULT NULL,
  `amount` int(11) NOT NULL,
  `depreciation_value` int(11) NOT NULL,
  `mark_as_done` text NOT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_inv_office_id` (`office_id`),
  KEY `idx_inv_employee_person_id` (`employee_person_id`),
  KEY `idx_inv_accountable_person_id` (`accountable_person_id`),
  KEY `idx_inv_actual_user_id` (`actual_user_id`)
) ENGINE=InnoDB AUTO_INCREMENT=1263 DEFAULT CHARSET=utf8mb3 COLLATE=utf8mb3_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `inv_inventory`
--

LOCK TABLES `inv_inventory` WRITE;
/*!40000 ALTER TABLE `inv_inventory` DISABLE KEYS */;
/*!40000 ALTER TABLE `inv_inventory` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-07-04 11:58:40
